<% include head %>
<% include navbar %>
<div class="container">
    <h2>Add Book</h2>
    <%- message %>
    <% if(locals.error) { %>
    <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form class="form-bookFinder" method="post" id="addBookID" action="/books" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" name="title" id="title" class="form-control" placeholder="Book Title" value="<%= locals.title || '' %>" required />
        </div>
        <div class="form-group">
            <input type="text" name="author" id="author" class="form-control" placeholder="Author" value="<%= locals.author || '' %>" required />
        </div>
        <div class="form-group">
            <input type="text" name="genre" id="author" class="form-control" placeholder="Genre" value="<%= locals.genre || '' %>" required />
        </div>
        <div class="form-group">
            <input type="text" name="isbn" id="isbn" placeholder="ISBN" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="hasCove">Has cover picture</label>
            <select id='hasCove' name="hasCove" onchange="showFileInput()">
                <option value="true" selected >Yes</option>
                <option value="false" >No</option>
            </select>
        </div>
        <div class="form-group" id= "coverImage" style="visibility:visible">
                    <label for="Cover">Upload Book Cover Image (formats allowed: .jpg, .png & Max-File-Size : 100KB)</label>
                    <input type="file" name="cover" id="Cover" class="form-control" onchange="OnUploadCheck()" />
                </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Book</button>
            <a href="/books" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
<script>
    function showFileInput(){
         document.getElementById('coverImage').style.visibility = document.getElementsByName("hasCove")[0].value == "false" ? 'hidden' : 'visible';
    }
    function OnUploadCheck()
    {
        var extall="jpg,png";
        file = document.getElementsByName('cover')[0].files[0];
        ext = file.name.split('.').pop().toLowerCase();
        if(parseInt(extall.indexOf(ext)) < 0)
        {
            alert('Extension support : ' + extall);
            document.getElementsByName('cover').value = "";
            return false;
        }
        if(file.size > 100000){
            alert('Uploaded size is large');
            document.getElementsByName('cover').value = "";
            return false;
        }
        return true;
    }
</script>
<% include footer %>