<% include head %>
<% include navbar %>
<h1>Books</h1>
<%- message %>

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th><th>Author</th><th>Genre</th><th>ISBN</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < books.length; i++) { %>
            <tr>
                <td><a href="/cover/<%= books[i].isbn %>"></a><%= books[i].title %></td>
                <td><%= books[i].author %></td>
                <td><%= books[i].genre %></td>
                <td><%= books[i].isbn %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<% include footer %>